@import '~antd/dist/antd.css';

html {
  font-size: 100px;
}

ul,
li {
  list-style: none;
}


#root {
  margin: 0 auto;
  max-width: 750px;
  box-sizing: border-box;
}

.main-container {
  padding: 100px 0 120px 0;
}